@(title: String)

@aboutTemplate(title) {
    <header id="site-header" class="group has-cart">

        <div class="logo">
                <!--No Logo-->
            <h1><a href="@routes.Home.main()"><span style="color : red">RED</span>|N</a></h1>
        </div>
        <nav id="main-nav">
            <span class="toggle">
                <a href="#" data-icon="≡">Menu</a>
            </span>
            <ul id="menu" class="group" style="display: none;">
                <li class="current page page_title"><a href="#">About N 集恩</a></li>
                <li class=" page page_title"><a href="@routes.Home.aboutRed()">About RED</a></li>
                <li class=" page page_title"><a href="@routes.Home.aboutWork()">Work</a></li>
                <li class=" page page_title menu-team"><a href="@routes.Home.aboutTeam()">Team</a></li>
                <li class=" page page_title"><a href="@routes.Home.aboutContact()">Contact</a></li>

            </ul>
        </nav>
    </header>


    <div class="wrapper background-container">

        <div id="main-content" role="main">
            <section class="content-editor">
                <h1 class="grey-content title">About N interior</h1>
                <h1 class="chinese title">关于集恩</h1>
                <p class="grey-content">
                    N interior Design Company specialises in Architecture Planning, Interior Design, Lighting Design, Space Decoration and all related client requirements. We collaborate with international architects, experts and design studios to best service our clients' needs. We believe that outstanding design is the key to a beautiful life. </p>
                <p class="chinese">
                    集恩空间设计汇集国内领先设计师与团队, 集合建筑规划、 室内设计、灯光设计、陈设艺术、产品代购、定制施工等项目服务, 联合国内外知名设计师与合作所, 为不同需求的客户提供商业与私宅的国际领先设计与施工方案。</p>
            </section>

            <section class="slideshow-thumbnails-gallery  no-title vertical-layout">

                <div class="large-gallery">
                    <div class="navigation ">
                        <a class="previous" href="http://stockholmtheme.virb.com/gallery#" title="previous" data-icon="＜">
                            <span class="count"><span class="current">0</span><span class="divider">
                                /</span><span class="total">11</span></span>
                        </a>
                        <a class="next" href="http://stockholmtheme.virb.com/gallery#" title="next" data-icon="＞">
                            <span class="count"><span class="current">0</span><span class="divider">
                                /</span><span class="total">11</span></span>
                        </a>
                            <!-- <p class="count"><span class="current">0</span><span class="divider">/</span><span class="total">11</span></p> -->
                    </div>

                    <ul style="position : relative ;">
                        <li data-id="i4977254" data-type="photo" class="count_1 landscape">


                            <img data-src="@routes.Assets.at("images/about.jpg")" data-width="800" data-height="539" data-full-src="./About - Stockholm_files/about.jpg" alt="">


                        </li>

                    </ul>
                    <a href="./gallery#" class="back-to-slideshow" title="Back to Thumbnails">
                        Back to Thumbnails</a>
                </div>

                <ul class="thumbnails group">
                    <li>
                        <img src="@routes.Assets.at("images/about.jpg")" data-width="800" data-height="539" data-full-src="./About - Stockholm_files/about.jpg" alt="">
                    </li>

                </ul>

            </section>
        </div>
    </div>
}

