@(title: String)

@aboutTemplate(title) {
    <header id="site-header" class="group has-cart">

        <div class="logo">
                <!--No Logo-->
            <h1><a href="@routes.Home.main()"><span style="color : red">RED</span>|N</a></h1>
        </div>
        <nav id="main-nav">
            <span class="toggle">
                <a href="#" data-icon="≡">Menu</a>
            </span>
            <ul id="menu" class="group" style="display: none;">
                <li class=" page page_title"><a href="@routes.Home.aboutN()">About N 集恩</a></li>
                <li class="current page page_title"><a href="#">About RED</a></li>
                <li class=" page page_title"><a href="@routes.Home.aboutWork()">Work</a></li>
                <li class=" page page_title menu-team"><a href="@routes.Home.aboutTeam()">Team</a></li>
                <li class=" page page_title"><a href="@routes.Home.aboutContact()">Contact</a></li>

            </ul>
        </nav>
    </header>


    <div class="wrapper background-container">

        <div id="main-content" role="main">

            <section class="slideshow-thumbnails-gallery  no-title vertical-layout">
                <ul class="thumbnails group">
                    <li>
                        <section class="content-editor">
                            <h1 class="grey-content title">RED Design Studio</h1>
                            <h1 class="chinese title">关于RED设计室</h1>
                            <p class="grey-content">
                                "RED is where we make your dreams fly!"
                                <br>-Vida Wang (the founder and art director of RED Studio & Gallery)
                            </p>
                            <p class="grey-content">Vida has been designing brands, logos, websites, brochures, posters, magazines and apps for over 10 years for various customers such as cafes, hospitality businesses, finance companies, law firms, corporations and private individuals. She still loves designing today as much as she did when she first started. She studied advertising and design at Auckland University of Technology and later at RMIT University where she graduated with a Bachelor of Communications with Honours (majoring in Advertising Creative & Art Direction).</p>
                            <p class="chinese">“ RED 是一个造梦工厂。”- Vida Wang (RED 工作室&美术馆创建人)</p>
                            <p class="chinese">2014年Vida回国后创办了自己的自由接案工作室，名为“RED”。Vida是一名资深美术指导与设计。她曾留学新西兰与澳大利亚，毕业于墨尔本皇家理工学院（RMIT），获得广告创意与美术指导荣誉学士学位。在过去的10年间，她曾参与设计的客户包括咖啡馆，品牌商业，金融公司，律师事务所，以及其他企业与个人。她专长于品牌形象设计，新媒体创意设计，宣传广告策划，书刊美术指导和apps视觉设计等方面。从学设计到做设计，十几年过去了，但从未改变的是Vida对设计的热爱与专注。</p>
                        </section>
                        <img src="@routes.Assets.at("images/red_1.jpg")" data-width="800" data-height="539" data-full-src="./About - Stockholm_files/about.jpg" alt="">
                    </li>
                    <li>
                        <section class="content-editor">
                            <h1 class="grey-content title">RED Gallery</h1>
                            <h1 class="chinese title">关于RED美术馆</h1>
                            <p class="grey-content">RED Gallery is a contemporary art gallery located on Level 2 of De Fu Lou (access through the cafe). In addition to art events, the gallery has a permanent collection of North American and Eurporean antiques and curiosities. Open to the public on 7 days expect Wed & Sunday between 10 AM to 5 PM.</p>
                            <p class="chinese">RED美术馆是一间当代艺术美术馆，是Vida和其他设计师与艺术家交流的空间。美术馆定期举办国内外艺术展与美术设计沙龙等活动，同时长期展出来自北美，欧洲和纽澳等地方的舶来品和收藏。RED美术馆开放时间为：早10点－晚5点 （周三/周日关闭）。</p>
                        </section>
                        <img src="@routes.Assets.at("images/red_2.jpg")" data-width="800" data-height="539" data-full-src="./About - Stockholm_files/about.jpg" alt="">
                    </li>
                </ul>
            </section>
        </div>
    </div>
}

