@(message: String)

@main("RED STUDIO") {
  <div class="title"><h2 class="category-name">Cafe</h2></div>
  <div class="header-separator separator"></div>
  <a href="@routes.Application.index()">
    <div class="hero">
    <img class="img-responsive" src="@routes.Assets.at("images/hero.png")" alt=""/>
  </div></a>
  <div class="content">
    <p class="line">In-house coffee roasting and great hand-craft coffee.新鲜咖啡豆烘焙和手冲咖啡，分享精致生活。</p>
    <p class="line">Inside Zhu Que Gate (walk 100m to west side)朱雀门里沿城墙向西100米橙色大门2楼。</p>
    <p class="line">T: 87365855</p>
  </div>
  <div class="next-page">---></div>
  <div class="footer-separator separator"></div>
}
