@(title: String)(content: Html)

<!DOCTYPE html>

<html>
  <head>
    <title>@title</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("vendor/css/bootstrap/bootstrap.min.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
  </head>
  <body>
    <div id="container">
      <header class="header"></header>
      <div class="main-content">
        @content
      </div>
      <footer class="footer row">
        <a class="menu active home"></a>
        <a class="menu search"></a>
        <a class="menu party"></a>
        <a class="menu shopping"></a>
        <a class="menu profile"></a>
      </footer>
    </div>
  </body>
</html>
